@model StaplesTask.Models.FormViewModel
@{
    ViewBag.Title = "Person's Details";
}

@using (Html.BeginForm("SaveDetails", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Save person's details using the following form <span class="glyphicon glyphicon-user"></span></h3>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sex, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.Sex, "Male")
            @Html.Label("Male")
            <br />
            @Html.RadioButtonFor(m => m.Sex, "Female")
            @Html.Label("Female")
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Date of Birth</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.BirthDay, new SelectList(Model.BirthDay), new { @class = "form-control", @style = "width:auto; display:inline-block" })
            @Html.DropDownListFor(m => m.SelectedMonth, Model.BirthMonth, new { @class = "form-control", @style = "width:auto; display:inline-block" })
            @Html.DropDownListFor(m => m.BirthYear, new SelectList(Model.BirthYear), new { @class = "form-control", @style = "width:auto; display:inline-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" type="submit">Save&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </div>
    <div class="alert alert-success" style="display:none">The person have been added.</div>
    <div class="alert alert-danger" style="display:none">This person is already in database.</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
